@import 'tailwindcss';

@theme {
  --breakpoint-xs: 425px;
}

:root {
  --background-color: #030104;
    --font-family: "Space Mono", monospace;

}

@font-face {
  font-family: "Space Mono";
  src: url("/fonts/SpaceMono-Regular.ttf") format("truetype");
  font-display: swap;
}


html,
body {
  scroll-behavior: smooth;
}


body {

  /*this is for the scrollbar*/
  --sb-track-color: #232E33;
  --sb-thumb-color: #3a3a3a;
  --sb-size: 10px;

  /* background color*/
  background: var(--background-color);

  /* font used*/
  font-family: var(--font-family);
}

body::-webkit-scrollbar {
  width: var(--sb-size)
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 3px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;

}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}